body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.container {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inputTask__box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  text-align: center;
  color: #333;
}
.dropdown {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
.button {
  padding: 10px 20px;
  background-color: #888;
  color: white;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #555;
}
.date-select {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.task-select{
  width: 100%;
}
.submit-button {
  width: 100%;
  padding: 10px;
  background-color: #5c6bc0;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.submit-button:hover {
  background-color: #3949ab;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.year{
  font-size: 2rem;
  font-weight: bold;
}